@charset "utf-8";
@font-face {
	font-family: Text;
	src: url(fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
	font-family: Headings;
	src: url(fonts/Rye/Rye-Regular.ttf) format('truetype');
}
@font-face {
	font-family: Navigation;
	src: url(fonts/Aboreto/Aboreto-Regular.ttf) format('truetype');
}

/* HTML */
html {
	background-color: #1E1E1E;
	font-family: Text;
}

/* HEADER/NAVIGATION */
header {
	background-color: #777777;
	padding: 25px;
	
}

header div.nav {
	background-color: #999999;
	border: 5px inset;
	text-align: center;
	font-family: Navigation;
}

header div.nav nav a {
	margin: 14px;
	font-size: 24pt;
	color: black;
}

header div.nav nav a:hover {
	color: #EEEEEE;
}

/* BODY */
h1, h2, h3, h4, h5, h6 {
	font-family: Headings;
}
/* FOOTER */
footer {
	background-color: #777777;
	padding: 25px;
	margin-top: 35px;
}

/* =========================
   Mobile Styles: 0 to 480px 
   =========================
*/

@media only screen and (max-width: 480px) {
	body {
		text-align: center;
		background-color: #c0c0c0;
		margin: auto;
		font-size: 20px;
	}
		body img#main-image {
		width: 75%;
		height: 75;
	}
}

/* ============================================
   Tablet and Desktop Styles: 481px and greater 
   ============================================
*/

@media only screen and (min-width: 481px) {
	body {
	text-align: center;
	background-color: #c0c0c0; 
	margin: auto;
	font-size: 20px;
	}
	
	body img#main-image {
		width: 50%;
		height: 50%;
	}
}
